<template>

<div class="container-fluid">
    <notifications group="success" />
    <div class="row">
        <div class="col-md-12">
            <v-form-inline v-if="!loading" v-model="data.data" :datosSeleccinados="datosFinales" @datosGenerales="datosGeneralOrden"></v-form-inline>
            <div v-else class="card-body text-center" wfd-id="184">
                    <h2>CARGANDO</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" :class="{'card-danger':error,'card-primary':!error}" wfd-id="183" >
              <div class="card-header" wfd-id="189">
                <h3 class="card-title">MENU</h3>
                <div class="card-tools" wfd-id="266">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" wfd-id="573"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body" wfd-id="184">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <v-platillos v-model="data.data" v-if="!loading" :platillosOrdenProp="datosFinales.platillosOrden" @datosGenerales="datosGeneralOrden"/>

                            <div v-else class="card-body text-center" wfd-id="184">
                                <h2>CARGANDO</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <v-bebidas v-model="data.data.bebidas" v-if="!loading" :bebidasDeLaOrdenProp="datosFinales.bebidasOrden" @datosGenerales="datosGeneralOrden"/>
                            <div v-else class="card-body text-center" wfd-id="184">
                                <h2>CARGANDO</h2>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <div class="overlay dark" v-if="cargando" wfd-id="290">
                <i class="fas fa-2x fa-sync-alt"></i>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="card" :class="{'card-danger':error,'card-info':!error}" >
              <div class="card-header" >
                <h3 class="card-title">TOTAL ORDEN</h3>
              </div>
              <div class="card-body text-center" wfd-id="184">
                <h2>TOTAL: ${{total}}</h2>
                <button title="Editar Registro" @click="agregarOrden" class="btn btn-success text-center">
                    Confirmar orden
                </button>
              </div>
              <div class="overlay dark" v-if="cargando" wfd-id="290">
                <i class="fas fa-2x fa-sync-alt"></i>
              </div>
            </div>

        </div>
    </div>
</div>

</template>


<script>
export default {
    props:["datos"],
    data(){
        return{
            loading:true,
            cargando:false,
            data:{
                data:null
            },
            datosFinales:{
                platillos:this.datos ? datos.platillosOrden : [],
                bebidas:this.datos ? datos.bebidasOrden : [],
                comentario:""
            },
            innerTotal:0.00,
            ruta:"restaurante",
            error:false,
        }
    },
    methods:{
        datosGeneralOrden(val){
            this.datosFinales = {...this.datosFinales,...val};
        },
        async agregarOrden(){
            this.cargando = true;
            let datos = await axios.post('http://localhost/'+this.ruta+'/ordenes/guardar',this.datosFinales); // almacenamos los datos
            if(datos.data>0){
                this.error=false;
                this.datosFinales.id = datos.data;
                this.mostrarNotificacion("Exito","Orden Agregada!!");
                this.sweetNotificacion("Orden","Orden agregada correctamente","success");
            }else{
                this.error = true;
                this.mostrarNotificacion("Error","Algo salio mal","error");
                this.sweetNotificacion("Error","Faltan algunos campos, o ocurrio algun problema","error");
            }
            this.cargando = false;
        },
        async getOrden(id){
            this.cargando = true;
            let datos = await axios.post('http://localhost/'+this.ruta+'/ordenes/obtenerorden',{'id':id}); // almacenamos los datos
            if(datos.data.length>0){
                this.datosFinales = {...this.datosFinales,...datos.data[0]};
            }
            this.cargando = false;
        },
        async getIdIfExists(){
                        let uri = window.location.href.split('?');
            if (uri.length == 2)
            {
            let vars = uri[1].split('&');
            let getVars = {};
            let tmp = '';
            vars.forEach(function(v){
                tmp = v.split('=');
                if(tmp.length == 2)
                getVars[tmp[0]] = tmp[1];
            });
            if(getVars.hasOwnProperty("id") && getVars.id>0){
                await this.getOrden(getVars.id);
            }
            }
        },
        mostrarNotificacion(title="",text="",type="success"){
            this.$notify({
            group: 'success',
            title: title,
            text: text,
            type: type,
            duration: 10000,
            speed: 1000
            });
        },
        sweetNotificacion(titulo="",texto="",icono=""){
        this.$swal.fire({
        title: titulo,
        text: texto,
        icon: icono
        })
        }
    },
    computed:{
        total:function () {
            this.innerTotal =0.00;
            this.datosFinales.platillos.forEach(plato => {
                this.innerTotal+= (plato.numero * plato.Precio)
            });
            this.datosFinales.bebidas.forEach(bebida => {
                this.innerTotal+= (bebida.numero * bebida.Precio)
            });
                let punto = this.innerTotal.toString().indexOf(".");
                if(punto > -1){
                    let decimals = this.innerTotal.toString().substr(punto,3);
                    return this.innerTotal.toString().substr(0,punto) + decimals;
                }else{
                    return this.innerTotal;
                }
        }
    },
      async mounted(){



        await this.getIdIfExists();
        this.loading = true; // mostramos "CARGANDO"
        this.ruta = document.getElementById("ruta") ? document.getElementById("ruta").value : "restaurante";
        let datos = await axios.post('http://localhost/'+this.ruta+'/ordenes/tomardatos'); // Hacemos un post para que nos retornen un json
        this.data = datos;
        this.loading = false; // Ocultamos el cartel de "CARGANDO"
    },
}
</script>
