<template>
<div>
    <v-card>
        <div slot="header">
            BEBIDAS
        </div>
        <div slot="body">
            <table id="example3" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Bebida</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="(bebida,i) in bebidas" :key="i">
                            <td>{{bebida.Descripcion}}</td>
                            <td>$ {{bebida.Precio}}</td>
                            <td>
                                <button title="Editar Registro" @click="agregarBebida(bebida)" class="btn btn-success">
                                    <i class='nav-icon fas fa-plus-circle'/>
                                </button>
                                </td>
                        </tr>
                </tbody>
            </table>
    <h2>ORDEN</h2>
            <table  class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>bebidas</th>
                        <th>Precio</th>
                        <th># bebidas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="(bebida,i) in bebidasOrden" :key="i">
                            <td>{{bebida.Descripcion}}</td>
                            <td>$ {{bebida.Precio}}</td>
                            <td>
                                <div class="btn-group-vertical" role="group">
                                <button data-toggle="modal" @click="bebidaOrdenAumentar(i)" class="btn btn-success">
                                    <i class='nav-icon fas fa-plus-circle'/>
                                </button>
                                <button class="text-center btn btn-default">{{bebida.numero}}</button>
                                <button title="Editar bebida"  @click="bebidaOrdenDisminuir(i)" class="btn btn-danger">
                                    <i class='nav-icon fas fa-minus'/>
                                </button>
                                </div>
                            </td>
                            <td>
                                <button title="eliminar bebida"  @click="bebidaOrdenEliminar(i)" class="btn btn-danger">
                                    <i class='nav-icon fas fa-window-close'/>
                                </button>
                            </td>
                        </tr>
                </tbody>
            </table>

        </div>
    </v-card>
</div>
</template>


<script>
export default {
    props:["value","bebidasDeLaOrdenProp"],
    data(){
        return{
            bebidas : this.value,
            bebidasOrden: this.bebidasDeLaOrdenProp ? this.bebidasDeLaOrdenProp: []
        }
    },
    methods:{
        agregarBebida(bebida){
            bebida.numero = 1;
            this.bebidasOrden.push(Object.assign({},bebida));
            this.$emit('datosGenerales',{bebidas:this.bebidasOrden});
                this.mostrarNotificacion("Exito","Bebida Agregada correctamente");
        },
        bebidaOrdenAumentar(index){
            console.log(index);
            this.bebidasOrden[index].numero+=1;
            this.$emit('datosGenerales',{bebidas:this.bebidasOrden});
        },
        bebidaOrdenDisminuir(index){
            console.log(index);
            if(this.bebidasOrden[index].numero>1){
                this.bebidasOrden[index].numero-=1;
                }
            this.$emit('datosGenerales',{bebidas:this.bebidasOrden});
        },
        bebidaOrdenEliminar(i){
            this.$swal.fire({
            title: 'Desea eliminar la bebida?',
            text: `Eliminacion de bebida ${this.bebidasOrden[i].Descripcion}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar'
            }).then((result) => {
            if (result.value) {
                this.$swal.fire(
                'Eliminada!',
                'La bebida fue eliminado',
                'success'
                )
            this.$delete(this.bebidasOrden,i);
            this.mostrarNotificacion("Exito","Bebida Eliminada correctamente","warning");
            }
            })
            this.$emit('datosGenerales',{bebidas:this.bebidasOrden});
        },
        mostrarNotificacion(title="",text="",type="success"){
            this.$notify({
            group: 'success',
            title: title,
            text: text,
            type: type,
            duration: 500,
            speed: 1000
            });
        }
    }
}
</script>
