<template>

<div class="card text-center">
  <div class="card-header">
    <slot name="header"></slot>
  </div>
  <div class="card-body">
    <h5 class="card-title">
        <slot name="titulo"></slot>
    </h5>
    <p class="card-text">
        <slot name="texto"></slot>
    </p>
    <slot name="body"></slot>
  </div>
  <div class="card-footer text-muted">
    <slot name="footer"></slot>
  </div>
</div>

</template>
