<template>

<div class="card card-success" wfd-id="183" >
              <div class="card-header" wfd-id="189">
                <h3 class="card-title">Detalles generales de la orden</h3>
              </div>
              <div class="card-body" wfd-id="184">
                <div v-if="!loading" class="row" wfd-id="185">
                  <div  class="col text-center" wfd-id="188" v-for="(campo,i) in campos" :key="i">
                      <label>{{campo.label}}</label>
                    <v-input-icon :tomarInput="tomarInput" :selecionado="seleccionados[campo.name]" v-model="inputs[campo.name]" :campo="campo" :key="i"/>
                  </div>
                </div>
                <div v-else class="card-body text-center" wfd-id="184">
                    <h2>CARGANDO</h2>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-body" wfd-id="184">
                <div class="row" wfd-id="185"></div>
                  <div class="col-12 text-center" wfd-id="188">
                      <label>Comentario</label>
                      <textarea class="form-control" v-model="inputs.comentario">

                      </textarea>
                  </div>
                  <div hidden="true">{{inp}}</div>
              </div>
              </div>

</template>

<script>
export default {
    props:["value","datosSeleccinados"],
    data(){
        return{
            campos:[
                {
                    name:"tpordenes",
                    label:"Tipo de orden",
                    icon:"fa-truck",
                    placeholder:"seleccione el tipo de orden",
                    tipocampo: "select",
                    opciones: [],
                    campo:"Descripcion",
                    id:"TipoOrdenId"
                },
                {
                    name:"mesas",
                    label:"Mesas",
                    icon:"fa-table",
                    placeholder:"seleccione la mesa",
                    tipocampo: "select",
                    opciones: [],
                    campo:"Descripcion",
                    id:"MesaId"
                },
                {
                    name:"meseros",
                    label:"Mesero",
                    icon:"fa-male",
                    placeholder:"seleccione Mesero",
                    tipocampo: "select",
                    opciones: [],
                    campo:"Nombre",
                    id:"MeseroId"
                },
                {
                    name:"estados",
                    label:"Estado Orden",
                    icon:"fa-check",
                    placeholder:"seleccione estado orden",
                    tipocampo: "select",
                    opciones: [],
                    campo:"descripcion",
                    id:"EstadoOrdenId"
                },
                {
                    name:"nclientes",
                    label:"Numero de clientes",
                    icon:"fa-user-friends",
                    placeholder:"Numero de clientes",
                    tipocampo: "text",
                    tipo:"number"
                }
            ],
            loading:true,
            tomarInput:true,
            inputs:{
                comentario: this.datosSeleccinados ? this.datosSeleccinados.comentario : ""
            },
            seleccionados : this.datosSeleccinados
            }
        },
    async mounted(){
        this.loading = true; // mostramos "CARGANDO"
        this.campos.forEach(el => { // iteramos el array de campos
            el.opciones = this.value[el.name]; // tomamos el attr de name de cada uno de los campos y los buscamos en la respuesta del servidor
        });
        this.loading = false; // Ocultamos el cartel de "CARGANDO"
    },
    methods:{
        tomarDatos(dato){
            console.log(dato);
        }
    },
    watch:{
        inputs:function () {
            console.log("enviar");
            this.$emit("datosGenerales",this.inputs);
        }
    },
    computed:{
        inp:function () {
            this.$emit("datosGenerales",this.inputs);
            return this.inputs;
        }
    }
}
</script>
