<template>
    <div class="input-group" wfd-id="179">
                  <div class="input-group-prepend" wfd-id="180">
                    <span class="input-group-text" wfd-id="170"><i :class="'fas ' + campos.icon"></i></span>
                  </div>
                  <input v-if="campo.tipocampo=='text'" :value="valor>0 ? valor : 1" v-model="valor" :type="campo.tipo" class="form-control" :name="campo.name" :placeholder="campo.placeholder" wfd-id="328">
                    <select v-if="campo.tipocampo=='select'" v-model="valor" class="custom-select" wfd-id="47">
                        <option v-for="(option,i) in campo.opciones" :key="i" :value="option[campo.id]">{{option[campo.campo]}}</option>
                    </select>
                </div>
</template>

<script>
export default {
    props:["campo","value","selecionado"],
    data(){
        return{
            campos : this.campo,
            valor: this.selecionado ? this.selecionado : ""
        }
    },
    watch:{
        'valor':function () {
            this.$emit("input",this.valor);
        }
    }
}
</script>
