<template>
<div>
    <v-card>
        <div slot="header">
            PLATILLOS
        </div>
        <div slot="body">
            <table id="example2" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Platillos</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="(platillo,i) in platillos" :key="i">
                            <td>{{platillo.Descripcion}}</td>
                            <td>$ {{platillo.Precio}}</td>
                            <td>
                                <button data-toggle="modal" data-target="#seleccionarDetallePlatillo" @click="platilloSeleccionado(platillo)" class="btn btn-success">
                                    <i class='nav-icon fas fa-plus-circle'/>
                                </button>
                                </td>
                        </tr>
                </tbody>
            </table>
 <h2>ORDEN</h2>
            <table  class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Platillos</th>
                        <th>Precio</th>
                        <th>Opcion</th>
                        <th># platos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="(platillo,i) in platillosOrden" :key="i">
                            <td>{{platillo.Descripcion}}</td>
                            <td>$ {{platillo.Precio}}</td>
                            <td>{{platillo.opcion.map(e=>e.Descripcion).join(", ")}}</td>
                            <td>
                                <div class="btn-group-vertical" role="group">
                                <button data-toggle="modal" @click="platilloOrdenAumentar(i)" class="btn btn-success">
                                    <i class='nav-icon fas fa-plus-circle'/>
                                </button>
                                <button class="text-center btn btn-default">{{platillo.numero}}</button>
                                <button title="Editar platillo"  @click="platilloOrdenDisminuir(i)" class="btn btn-danger">
                                    <i class='nav-icon fas fa-minus'/>
                                </button>
                                </div>
                                </td>
                            <td>
                                <button title="eliminar platillo"  @click="platilloOrdenEliminar(i)" class="btn btn-danger">
                                    <i class='nav-icon fas fa-window-close'/>
                                </button>
                                <button  @click="editarPlatilloOpciones(i)" data-toggle="modal" data-target="#seleccionarDetallePlatillo" class="btn btn-success">
                                    <i class='nav-icon fas fa-edit'/>
                                </button>
                            </td>
                        </tr>
                </tbody>
            </table>
            <!--MODALS-->

        <!-- modal para agregar unidad  -->
        <div class="modal fade" tabindex="-1" role="dialog" id="seleccionarDetallePlatillo">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="encab">Opciones de platillo</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">

                            <div class="form-group row">
                                <div class="col-sm-12">
                        <div class="form-group" wfd-id="51">
                            <div class="custom-control custom-radio" v-for="(opcion,i) in opcionesPlatillos" :key="i" wfd-id="56">
                                <input class="custom-control-input" :checked="platilloOpciones.findIndex(e=>e.OpcionId==opcion.OpcionId)>-1" @click="opcionPlatillo(opcion,i)" :value="opcion.OpcionId" type="checkbox" :id="'opcionRadio'+i" wfd-id="298">
                                <br>
                                <label :for="'opcionRadio'+i" class="custom-control-label" wfd-id="57">{{opcion.Descripcion}}</label>
                            </div>
                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button @click="opcionPlatilloCerrar()" data-dismiss="modal" class="btn btn-primary">Agregar platillo</button>
                        </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        </div>



    </v-card>
</div>
</template>


<script>
export default {
    props:["value","platillosOrdenProp"],
    data(){
        return{
            platillos : this.value.platillos,
            opcionesPlatillos: this.value.opcionesplatillos,
            platilloOpciones: [],
            modal:false,
            platillosOrden: this.platillosOrdenProp ? this.platillosOrdenProp : [],
            platilloCache: false,
            editando:false,
            editandoId:-1
        }
    },
    methods:{
        mostrar(){
            this.modal = true;
        },
        opcionPlatillo(opcion,checkbox){
            if (document.getElementById("opcionRadio"+checkbox).checked) {
                !this.editando ? this.platilloCache.opcion.push(opcion): this.platillosOrden[this.editandoId].opcion.push(opcion) ;
            }else{
                 let indexOpcion = !this.editando ? this.platilloCache.opcion.findIndex(e=>e.OpcionId==opcion.OpcionId) : this.platillosOrden[this.editandoId].opcion.findIndex(e=>e.OpcionId==opcion.OpcionId) ;
                 if(indexOpcion>-1){
                    !this.editando ? this.$delete(this.platilloCache.opcion,indexOpcion) : this.$delete(this.platillosOrden[this.editandoId].opcion,indexOpcion) ;
                 }
            }
        },
        opcionPlatilloCerrar(){
            if(!this.editando){
                this.mostrarNotificacion("Exito","Platillo Agregado correctamente");
                this.platillosOrden.push(Object.assign({},this.platilloCache));
                this.redenrizarOpcionesPlatillos();
                this.$emit('datosGenerales',{platillos:this.platillosOrden});
                this.platilloCache = false;
                this.editando = false;
                this.editandoId = -1;
                this.platilloOpciones = [];
            }else{
                this.redenrizarOpcionesPlatillos();
                this.mostrarNotificacion("Exito","Platillo Editado correctamente");
                this.editando=false;
            }
        },
        platilloSeleccionado(platillo){
            this.platilloOpciones=[];
            this.redenrizarOpcionesPlatillos();
            this.platilloCache = platillo;
            this.platilloCache.opcion =[];
            this.platilloCache.numero = 1;
        },
        platilloOrdenAumentar(index){
            this.platillosOrden[index].numero+=1;
            this.$emit('datosGenerales',{platillos:this.platillosOrden});
        },
        platilloOrdenDisminuir(index){
            if(this.platillosOrden[index].numero>1){
                this.platillosOrden[index].numero-=1;
                }
            this.$emit('datosGenerales',{platillos:this.platillosOrden});
        },
        platilloOrdenEliminar(i){
            this.$swal.fire({
            title: 'Desea eliminar su platillo?',
            text: `Eliminacion de platillo ${this.platillosOrden[i].Descripcion}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar'
            }).then((result) => {
            if (result.value) {
                this.$swal.fire(
                'Eliminado!',
                'El platillo fue eliminado',
                'success'
                )
            this.$delete(this.platillosOrden,i);
            }
            })
            this.$emit('datosGenerales',{platillos:this.platillosOrden});
        },
        editarPlatilloOpciones(i){
            this.editando=true;
            this.editandoId=i;
            this.platilloOpciones = this.platillosOrden[i].opcion;
            this.redenrizarOpcionesPlatillos();
        },
        redenrizarOpcionesPlatillos(){
            let cacheOpciones = this.opcionesPlatillos;
            this.opcionesPlatillos = [];
            setTimeout(()=>{
                this.opcionesPlatillos = cacheOpciones;
            },500);
        },
        mostrarNotificacion(title="",text="",type="success"){
            this.$notify({
            position: "top left",
            group: 'success',
            title: title,
            text: text,
            type: type,
            duration: 500,
            speed: 1000
            });
        }
    },
    mounted(){
        console.log("los platillos orden",this.platillosOrden);
    }
}
</script>
